switch-pa
[{"id":"fca8ba88.77846","type":"ui_switch","z":"f99ce49b.dcf2d8","name":"","label":"{{label}}","tooltip":"","group":"296ad330.cd813c","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":700,"y":260,"wires":[["3228b075.62ea8"]]},{"id":"3228b075.62ea8","type":"delay","z":"f99ce49b.dcf2d8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":260,"wires":[["107fb225.9998c6"]]},{"id":"7b8388a1.bf629","type":"change","z":"f99ce49b.dcf2d8","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":305,"wires":[["fca8ba88.77846"]]},{"id":"107fb225.9998c6","type":"switch","z":"f99ce49b.dcf2d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":305,"wires":[["227f51a0.a9d6e6"],["7b8388a1.bf629"]]},{"id":"227f51a0.a9d6e6","type":"change","z":"f99ce49b.dcf2d8","name":"","rules":[{"t":"set","p":"label","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":260,"wires":[["fca8ba88.77846"]]},{"id":"296ad330.cd813c","type":"ui_group","z":"","name":"Default","tab":"51238f0a.0502c","order":3,"disp":true,"width":"6","collapse":false},{"id":"51238f0a.0502c","type":"ui_tab","z":"f99ce49b.dcf2d8","name":"Home","icon":"link","order":1}]
